body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    padding-left: 15px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid #dbdbdb;
}

input {
    width: 220px;
    height: 30px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #dbdbdb;
}

nav h2 {
    padding: 5px 0;
    padding-left: 15px;
    width: 235px;
    font-weight: 200;
    font-size: 20px;
}

nav h2:hover {
    padding-left: 3px;
    background: #dbdbdb;
    border-radius: 5px;
}

.logo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #191b33;
}

.logo svg {
    margin-right: 10px;
}

.bot {
    margin-top: 590px;
    color: #8a8a8a; 
}

header {
    margin-left: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 15px;
}

.sort select {
    padding: 5px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
}

main {
    margin-left: 265px;
    margin-top: 15px;
}

.posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post {
    width: 350px;
    height: 520px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 15px;
}

.upperbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #8a8a8a;
}

.post img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
}

.description {
    font-size: 20px;
    color: #8a8a8a;
}